---
layout: default
---
{% include collection-variables.html %}
{% include collection-banner.html %}
{% include collection-nav.html %}

<h1>Subject cloud:</h1>
{% comment %} get collection items from data and find subjects {% endcomment %}
{%- assign raw-subjects = site.data.collection_metadata[colName] | map: "subjects" | join: ";" | split: ";" -%}
{%- capture subjects -%}{% for s in raw-subjects %}{% if s != "" %}{{ s | strip | downcase }};{% endif %}{%- endfor -%}{%- endcapture -%}
{%- assign subjects = subjects | split: ";" -%}
{%- assign uniqueSubjects = subjects | uniq | sort -%}
<div class="subject-cloud">
{% for unique in uniqueSubjects %}
{% assign count = subjects | where_exp: "item", "item == unique" | size %}
<div><a href="#{{ unique }}">{{ unique }}, {{ count }}</a></div>
{% endfor %}
</div>