---
layout: default
---
{% comment %} get collection directory name: {% endcomment %}
{% assign colPath = page.path | split: "/" %} 
{% assign colName = colPath[-2] %}
{% include collection-nav.html %}
<h1>Timeline:</h1>
{% assign items = site.data.collection_metadata[colName] %}
{% assign date_range = "" | split: "," %}
{% for item in items %}
    {% assign date_range = date_range | push: item.date %}
{% endfor %}
{% assign date_range = date_range | sort %}

<p>starts at {{ date_range | first }}, ends at {{ date_range | last }}.</p>
